<div class = "footer">
    <div class = "footer-links">
      <a class = "footer-link" href = "https://github.com/BeegScoop">GitHub</a>
    </div>
    <p class = "copyright">© Brandon Forseth @ My House.</p>
</div>