<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Im Bored</title>
  <link rel="stylesheet" href="/public/styles/styles.css">
</head>
<body>
    <h1 class="texty">sus</h1>
</body>