.btn{
    background: #ff6200;
  background-image: -webkit-linear-gradient(top, #006915, #a70000);
  background-image: -moz-linear-gradient(top, #006915, #a70000);
  background-image: -ms-linear-gradient(top, #006915, #a70000);
  background-image: -o-linear-gradient(top, #006915, #a70000);
  background-image: linear-gradient(to bottom, #006915, #a70000);
  
}
.blackjack-gradient-background {
    background: linear-gradient(300deg, #2da800, #006915, #a70000, #f40000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    width: 100vw;
}
.card{
    width: 125px;
}
.blackjack-container{
    width: 80%;
    border-radius: 20px;
    margin: 10px auto 0 auto;
    background-color: antiquewhite;

}
.cards{
    display:flex;
    justify-content: center;
}
input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}
input[type="submit"] {
    min-height: 50px;
    width: 100px;
    border-color: transparent;
    background: #ff6200;
    background-image: -webkit-linear-gradient(top, #ff6200, #ffa600);
    background-image: -moz-linear-gradient(top, #ff6200, #ffa600);
    background-image: -ms-linear-gradient(top, #ff6200, #ffa600);
    background-image: -o-linear-gradient(top, #ff6200, #ffa600);
    background-image: linear-gradient(to bottom, #ff6200, #ffa600);
    color: #fff;
    border-radius: 8px;
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
    font-size: 20px;
    border-width: 0;
    margin:10px;
    transition: all 0.3s;
    box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}
input[type="submit"]:hover{
  color:black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}